@import 'sprites';

@include sprites($spritesheet-sprites);

// bower:scss
// endbower
 
.square {
  &:hover {
    border : 2px solid gray;
    background-color: rgba(255,255,255,0.2);
    a {
      display: inline;
      position: absolute;
      font-size: 12px;
      bottom: 0px;
      right: 0px;
      text-decoration: none;
      color: #222222;
    }
  }
  border : none;
  position : absolute;
  a {
    display: none;
  }
}

.left-panel, .right-panel {
  float:left;
  height : 600px;
  position: relative;
  padding : 10px;
}

.left-panel {
  background-color : #EEEEEE;
  width : 200px;
  overflow-y: scroll;
}
.right-panel {
  width : 560px;
}
body {
  width: 800px;
  margin: auto;
  height : 500px;
}
tagged-image {
  position: relative;
  display: block;
}

$height: 100px;

ul.thumbnails {
  position: relative;
  display: block;
  float: left;

  li.thumbnail {
    float:left;
    height: $height+4px;
    width: 1.5*$height;
    margin : 11px;
    display: block;
    div.img {
      height: $height;
      display : block;
      margin-left:auto;
      margin-right : auto;
      border : 2px solid white;

    }
    &:hover {
      div.img {
        border : 2px solid gray;
      }
      background-color : #F3F3F3;
    }
  }
}
ul.pagination {
  position: relative;
  display: block;
  width: 240px;
  margin: 0 auto;
  li{
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    &.active {
      font-weight: bold;
      a{
        text-decoration : none;
        color: black;
      }
    }
  }
}
.tags-menu, .bottom-tags {
  display: block;
  margin: 0px;
  padding: 9px;
  li {
    border-radius:4px;
    border : 2px solid #E4E4E4;
    padding : 8px 10px;
    display : block;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  a {
    text-decoration : none;
    color : #3E3E3E;
    margin-left:auto;
    margin-right : auto;
    display : block;
    text-align: center;
    &:hover {
      text-decoration : none; 
      color : #3E3E3E;
      li {
        background-color : #E4E4E4;
      }
    }
  }
}

.button{
  cursor : pointer;
  float: left;
}

.tags-menu {

}
.bottom-tags a {
  float : left;
  margin : 10px;
}
ul.image {
  float:left;
  padding:13px;
}
div.image{
  display : block;
  border : 2px solid red;
  position: relative;
  float: left;
  margin: 11px;
}
.main-img {
  width:550px;
}

.prevButton, .nextButton {
  position : absolute;
  width : 50px;
  height : 51px;
  &:hover {
    cursor : pointer;
  }
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.prevButton {
  background-image: url("../images/Left.png");
  &:hover {
    background-image: url("../images/Left_hover.png");
  }

}
.nextButton {
  background-image: url("../images/Right.png");
  &:hover {
    background-image: url("../images/Right_hover.png");
  }
  right: 0px;
}

.fullScreenOverlay
{
  .background{
    height:100%;
    width:100%;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
    opacity: 0.75;           /* fx, safari, opera */
    background-color:black;
    position : fixed;
  }
  .container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  tagged-image {
    position: relative;
    display: block;
    width: 1100px;
    margin: 30px auto;

    .main-img {
      width:1100px;
    }
  }
  .button {
    color : white;
  }
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:1 !important;
}