/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
app/data
appConfig.js
/.git/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-IMG_00000216 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -134px -100px;
  width: 133px;
  height: 100px;
}
.icon-IMG_00000219 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -268px -100px;
  width: 133px;
  height: 100px;
}
.icon-IMG_00000223 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -268px 0px;
  width: 133px;
  height: 100px;
}
.icon-IMG_2094 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -225px -300px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2095 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: 0px -300px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2096 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -271px -200px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2097 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -75px -300px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2098 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -150px -300px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2448-764x1024 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -401px -100px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2449-900x672 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 134px;
  height: 100px;
}
.icon-IMG_2450-900x672 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: 0px -100px;
  width: 134px;
  height: 100px;
}
.icon-IMG_2451-900x941 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -100px -200px;
  width: 96px;
  height: 100px;
}
.icon-IMG_2453-764x1024 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -196px -200px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2454-900x672 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -134px 0px;
  width: 134px;
  height: 100px;
}
.icon-IMG_2457-764x1024 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -300px -300px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2467 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -401px 0px;
  width: 75px;
  height: 100px;
}
.icon-IMG_2468 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: 0px -200px;
  width: 100px;
  height: 100px;
}
.icon-P1050890 {
  background-image: url(/home/pierre/Images/sprites/spritesheet.png);
  background-position: -401px -200px;
  width: 66px;
  height: 100px;
}
