<h2>{{parentTag.name}} Photos</h2><a ng-href="/diapo/#/tag/{{parentTag.id}}">>>> retour aux vignettes</a>
<dir-pagination-controls on-page-change="reload(newPageNumber)"></dir-pagination-controls><div class="play-button" ng-click="play()" style="display:none;">play</div>
<ul class="image">
	<div dir-paginate="image in parentTag.getImages() | itemsPerPage:1" current-page="indexImage" class="image"  ng-attr-style="width :{{config.imgWidth}}px; height : {{image.height/image.width*config.imgWidth | ceil }}px">
		<tagged-image img="image" list="tagInfos" width="{{config.imgWidth}}"></tagged-image>
	</div>
	<ul class="tags bottom-tags">
			<a ng-repeat="tagInfo in tagInfos" ng-href="/diapo/#/tag/{{tagInfo.tag.id}}">
				<li>
					{{tagInfo.tag.name}}
				</li>
			</a>
	</ul>
</ul>
 